In [1]:
import warnings
warnings.filterwarnings('ignore')

#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
CarPrice = pd.read_csv(r"C:\Users\DELL\Downloads\CarPrice_Assignment.csv")
CarPrice.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
CarPrice.shape

(205, 26)

In [4]:
CarPrice.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [5]:
CarPrice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
CompanyName = CarPrice['CarName'].apply(lambda x : x.split(' ')[0])
CarPrice.insert(3,"CompanyName",CompanyName)
CarPrice.drop(['CarName'],axis=1,inplace=True)
CarPrice.head()

,car_ID,symboling,CompanyName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
CarPrice.CompanyName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [8]:
CarPrice.CompanyName = CarPrice.CompanyName.str.lower()

def replace(a,b):
    CarPrice.CompanyName.replace(a,b,inplace=True)

replace('maxda','mazda')
replace('porcshce','porsche')
replace('toyouta','toyota')
replace('vokswagen','volkswagen')
replace('vw','volkswagen')

CarPrice.CompanyName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [9]:
CarPrice.loc[CarPrice.duplicated()]

Empty DataFrame
Columns: [car_ID, symboling, CompanyName, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price]
Index: []

[0 rows x 26 columns]

In [10]:
CarPrice.columns

Index(['car_ID', 'symboling', 'CompanyName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [11]:
CarPrice['fueleconomy'] = (0.55 * CarPrice['citympg']) + (0.45 * CarPrice['highwaympg'])

In [12]:
CarPrice.columns

Index(['car_ID', 'symboling', 'CompanyName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'fueleconomy'],
      dtype='object')

In [13]:
CarPrice['price'] = CarPrice['price'].astype('int')
temp = CarPrice.copy()
table = temp.groupby(['CompanyName'])['price'].mean()
temp = temp.merge(table.reset_index(), how='left',on='CompanyName')
bins = [0,10000,20000,40000]
cars_bin=['Budget','Medium','Highend']
CarPrice['carsrange'] = pd.cut(temp['price_y'],bins,right=False,labels=cars_bin)
CarPrice.head()

,car_ID,symboling,CompanyName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueleconomy,carsrange
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,23.70,Medium
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,23.70,Medium
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,22.15,Medium
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,26.70,Medium
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,19.80,Medium

In [14]:
CarPrice.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueleconomy
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.702439,27.708780
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.848977,6.649183
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,14.800000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000,21.950000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,26.700000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000,31.800000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000,51.250000

In [15]:
CarPrice.fueltype.unique()

array(['gas', 'diesel'], dtype=object)

In [16]:
CarPrice.aspiration.unique()

array(['std', 'turbo'], dtype=object)

In [17]:
CarPrice.carbody.unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [18]:
CarPrice.drivewheel.unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [19]:
CarPrice.enginetype.unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [20]:
CarPrice.cylindernumber.unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [21]:
CarPrice.carsrange.unique()

['Medium', 'Highend', 'Budget']
Categories (3, object): ['Budget' < 'Medium' < 'Highend']

In [22]:
cars = CarPrice[['price', 'fueltype', 'aspiration','carbody', 'drivewheel','wheelbase',
                  'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower', 
                    'fueleconomy', 'carlength','carwidth', 'carsrange']]
cars.sample(20)

,price,fueltype,aspiration,carbody,drivewheel,wheelbase,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,carsrange
185,8195,gas,std,sedan,fwd,97.3,2212,ohc,four,109,3.19,85,30.15,171.7,65.5,Medium
85,6989,gas,std,sedan,fwd,96.3,2365,ohc,four,122,3.35,88,28.15,172.4,65.4,Budget
186,8495,gas,std,sedan,fwd,97.3,2275,ohc,four,109,3.19,85,30.15,171.7,65.5,Medium
158,7898,diesel,std,sedan,fwd,95.7,2275,ohc,four,110,3.27,56,34.90,166.3,64.4,Budget
152,6488,gas,std,hatchback,fwd,95.7,2015,ohc,four,92,3.05,62,34.15,158.7,63.6,Budget
54,7395,gas,std,sedan,fwd,93.1,1950,ohc,four,91,3.08,68,34.15,166.8,64.2,Medium
58,15645,gas,std,hatchback,rwd,95.3,2500,rotor,two,80,3.33,135,19.15,169.0,65.7,Medium
122,7609,gas,std,sedan,fwd,93.7,2191,ohc,four,98,2.97,68,34.15,167.3,63.8,Budget
80,9959,gas,turbo,hatchback,fwd,96.3,2370,ohc,four,110,3.17,116,26.15,173.0,65.4,Budget
157,7198,gas,std,hatchback,fwd,95.7,2109,ohc,four,98,3.19,70,33.15,166.3,64.4,Budget
119,7957,gas,turbo,hatchback,fwd,93.7,2128,ohc,four,98,3.03,102,26.70,157.3,63.8,Budget
136,18150,gas,turbo,hatchback,fwd,99.1,2808,dohc,four,121,3.54,160,22.15,186.6,66.5,Medium
144,9233,gas,std,sedan,4wd,97.0,2385,ohcf,four,108,3.62,82,24.45,172.0,65.4,Budget
204,22625,gas,turbo,sedan,rwd,109.1,3062,ohc,four,141,3.78,114,21.70,188.8,68.9,Medium
33,6529,gas,std,hatchback,fwd,93.7,1940,ohc,four,92,2.91,76,31.80,150.0,64.0,Budget
162,9258,gas,std,sedan,fwd,95.7,2140,ohc,four,98,3.19,70,30.70,166.3,64.4,Budget
107,11900,gas,std,sedan,rwd,107.9,3020,l,four,120,3.46,97,21.25,186.7,68.4,Medium
12,20970,gas,std,sedan,rwd,101.2,2710,ohc,six,164,3.31,121,24.15,176.8,64.8,Highend
98,8249,gas,std,hardtop,fwd,95.1,2008,ohc,four,97,3.15,69,33.70,162.4,63.8,Medium
175,9988,gas,std,hatchback,fwd,102.4,2414,ohc,four,122,3.31,92,29.25,175.6,66.5,Budget

In [23]:
cars.describe()

,price,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,13276.702439,98.756585,2555.565854,126.907317,3.329756,104.117073,27.708780,174.049268,65.907805
std,7988.848977,6.021776,520.680204,41.642693,0.270844,39.544167,6.649183,12.337289,2.145204
min,5118.000000,86.600000,1488.000000,61.000000,2.540000,48.000000,14.800000,141.100000,60.300000
25%,7788.000000,94.500000,2145.000000,97.000000,3.150000,70.000000,21.950000,166.300000,64.100000
50%,10295.000000,97.000000,2414.000000,120.000000,3.310000,95.000000,26.700000,173.200000,65.500000
75%,16503.000000,102.400000,2935.000000,141.000000,3.580000,116.000000,31.800000,183.100000,66.900000
max,45400.000000,120.900000,4066.000000,326.000000,3.940000,288.000000,51.250000,208.100000,72.300000

In [24]:
# Defining the map function
def dummies(x,df):
    temp = pd.get_dummies(df[x], drop_first = True)
    df = pd.concat([df, temp], axis = 1)
    df.drop([x], axis = 1, inplace = True)
    return df

cars = dummies('fueltype',cars)
cars = dummies('aspiration',cars)
cars = dummies('carbody',cars)
cars = dummies('drivewheel',cars)
cars = dummies('enginetype',cars)
cars = dummies('cylindernumber',cars)
cars = dummies('carsrange',cars)

In [25]:
cars.sample(20)

,price,wheelbase,curbweight,enginesize,boreratio,horsepower,fueleconomy,carlength,carwidth,gas,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
168,9639,98.4,2536,146,3.62,116,26.70,176.2,65.6,1,...,0,0,0,1,0,0,0,0,0,0
89,5499,94.5,1889,97,3.15,69,33.70,165.3,63.8,1,...,0,0,0,1,0,0,0,0,1,0
138,5118,93.7,2050,97,3.62,69,33.25,156.9,63.4,1,...,0,0,0,1,0,0,0,0,0,0
87,9279,96.3,2403,110,3.17,116,26.15,172.4,65.4,1,...,0,0,0,1,0,0,0,0,0,0
103,13499,100.4,3060,181,3.43,152,21.70,184.6,66.5,1,...,1,0,0,0,1,0,0,0,1,0
69,28176,106.7,3495,183,3.58,123,23.35,187.5,70.3,0,...,0,0,1,0,0,0,0,0,0,1
191,13295,100.4,2661,136,3.19,110,21.25,180.2,66.9,1,...,0,0,1,0,0,0,0,0,1,0
195,13415,104.3,3034,141,3.78,114,25.25,188.8,67.2,1,...,0,0,0,1,0,0,0,0,1,0
38,9095,96.5,2289,110,3.15,86,29.70,167.5,65.2,1,...,0,0,0,1,0,0,0,0,0,0
71,34184,115.6,3740,234,3.46,155,16.90,202.6,71.7,1,...,1,0,0,0,0,0,0,0,0,1
173,8948,102.4,2326,122,3.31,92,31.25,175.6,66.5,1,...,0,0,0,1,0,0,0,0,0,0
126,32528,89.5,2756,194,3.74,207,20.60,168.9,65.0,1,...,0,0,0,0,1,0,0,0,0,1
106,18399,99.2,3139,181,3.43,160,21.70,178.5,67.9,1,...,1,0,0,0,1,0,0,0,1,0
95,7799,94.5,2028,97,3.15,69,33.70,165.6,63.8,1,...,0,0,0,1,0,0,0,0,1,0
61,10595,98.8,2385,122,3.39,84,28.70,177.8,66.5,1,...,0,0,0,1,0,0,0,0,1,0
88,9279,96.3,2403,110,3.17,116,26.15,172.4,65.4,1,...,0,0,0,1,0,0,0,0,0,0
30,6479,86.6,1713,92,2.91,58,51.25,144.6,63.9,1,...,0,0,0,1,0,0,0,0,0,0
204,22625,109.1,3062,141,3.78,114,21.70,188.8,68.9,1,...,0,0,0,1,0,0,0,0,1,0
63,10795,98.8,2443,122,3.39,64,38.70,177.8,66.5,0,...,0,0,0,1,0,0,0,0,1,0
119,7957,93.7,2128,98,3.03,102,26.70,157.3,63.8,1,...,0,0,0,1,0,0,0,0,0,0

In [26]:
cars.columns

Index(['price', 'wheelbase', 'curbweight', 'enginesize', 'boreratio',
       'horsepower', 'fueleconomy', 'carlength', 'carwidth', 'gas', 'turbo',
       'hardtop', 'hatchback', 'sedan', 'wagon', 'fwd', 'rwd', 'dohcv', 'l',
       'ohc', 'ohcf', 'ohcv', 'rotor', 'five', 'four', 'six', 'three',
       'twelve', 'two', 'Medium', 'Highend'],
      dtype='object')

In [27]:
y = cars.pop('price')
X = cars

In [28]:
y.sample(20)

102    14399
48     35550
43      6785
149    11694
90      7099
107    11900
136    18150
197    16515
164     8238
110    13860
22      6377
160     7738
130     9295
157     7198
56     11845
140     7603
55     10945
71     34184
42     10345
53      6695
Name: price, dtype: int32

In [36]:
y.describe()

count      205.000000
mean     13276.702439
std       7988.848977
min       5118.000000
25%       7788.000000
50%      10295.000000
75%      16503.000000
max      45400.000000
Name: price, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.2)
np.random.seed(0)

In [30]:
from sklearn.tree import DecisionTreeRegressor

In [31]:
model = DecisionTreeRegressor() 
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [32]:
y_pred = model.predict(x_test)
y_pred

array([ 6095., 15690., 12945.,  6295.,  8845., 17669.,  5572.,  6918.,
       17859.,  7129., 21105., 36000., 11845., 12170.,  6575., 17669.,
       12170., 17710.,  9980.,  6338.,  9538., 16630.,  8189., 17669.,
       18420.,  8249.,  7198., 12440.,  9258.,  6649.,  8195., 13845.,
       24565., 10898.,  7299., 30760.,  9298., 18620.,  5195., 36880.,
        6575.])

In [33]:
y_test

52      6795
181    15750
5      15250
18      5151
188     9995
170    11199
76      5389
154     7898
104    17199
33      6529
12     20970
129    31400
55     10945
66     18344
45      8916
169     9989
130     9295
7      18920
37      7895
152     6488
80      9959
111    15580
131     9895
171    11549
179    15998
138     5118
156     6938
113    16695
161     8358
89      5499
183     7975
193    12290
125    22018
173     8948
92      6849
16     41315
189    11595
136    18150
22      6377
74     45400
44      8916
Name: price, dtype: int32

In [34]:
import pickle
file = open("file_manufacture.pkl", "wb") # opening a new file in write mode
pickle.dump(model, file)

In [35]:
list(np.abs(y_pred-y_test))

[700.0,
 60.0,
 2305.0,
 1144.0,
 1150.0,
 6470.0,
 183.0,
 980.0,
 660.0,
 600.0,
 135.0,
 4600.0,
 900.0,
 6174.0,
 2341.0,
 7680.0,
 2875.0,
 1210.0,
 2085.0,
 150.0,
 421.0,
 1050.0,
 1706.0,
 6120.0,
 2422.0,
 3131.0,
 260.0,
 4255.0,
 900.0,
 1150.0,
 220.0,
 1555.0,
 2547.0,
 1950.0,
 450.0,
 10555.0,
 2297.0,
 470.0,
 1182.0,
 8520.0,
 2341.0]