In [34]:
import numpy as np
import pandas as pd
data = pd.read_csv(r"C:\Users\DELL\Downloads\CarPrediction.txt")
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [35]:
data['current_year'] =2022
data['no_year'] = data['current_year'] - data['Year'] 
data = data.drop(['Year','current_year'],axis = 1) 
data = pd.get_dummies(data,drop_first=True) 
data = data[['Selling_Price','Present_Price','Kms_Driven','no_year','Owner','Fuel_Type_Diesel','Fuel_Type_Petrol',
'Seller_Type_Individual','Transmission_Manual']]
data

,Selling_Price,Present_Price,Kms_Driven,no_year,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,8,0,0,1,0,1
1,4.75,9.54,43000,9,0,1,0,0,1
2,7.25,9.85,6900,5,0,0,1,0,1
3,2.85,4.15,5200,11,0,0,1,0,1
4,4.60,6.87,42450,8,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33988,6,0,1,0,0,1
297,4.00,5.90,60000,7,0,0,1,0,1
298,3.35,11.00,87934,13,0,0,1,0,1
299,11.50,12.50,9000,5,0,1,0,0,1
300,5.30,5.90,5464,6,0,0,1,0,1

In [36]:
data.corr()

,Selling_Price,Present_Price,Kms_Driven,no_year,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
Selling_Price,1.000000,0.878983,0.029187,-0.236141,-0.088344,0.552339,-0.540571,-0.550724,-0.367128
Present_Price,0.878983,1.000000,0.203647,0.047584,0.008057,0.473306,-0.465244,-0.512030,-0.348715
Kms_Driven,0.029187,0.203647,1.000000,0.524342,0.089216,0.172515,-0.172874,-0.101419,-0.162510
no_year,-0.236141,0.047584,0.524342,1.000000,0.182104,-0.064315,0.059959,0.039896,-0.000394
Owner,-0.088344,0.008057,0.089216,0.182104,1.000000,-0.053469,0.055687,0.124269,-0.050316
Fuel_Type_Diesel,0.552339,0.473306,0.172515,-0.064315,-0.053469,1.000000,-0.979648,-0.350467,-0.098643
Fuel_Type_Petrol,-0.540571,-0.465244,-0.172874,0.059959,0.055687,-0.979648,1.000000,0.358321,0.091013
Seller_Type_Individual,-0.550724,-0.512030,-0.101419,0.039896,0.124269,-0.350467,0.358321,1.000000,0.063240
Transmission_Manual,-0.367128,-0.348715,-0.162510,-0.000394,-0.050316,-0.098643,0.091013,0.063240,1.000000

In [37]:
x = data.iloc[:,1:]
y = data.iloc[:,0]

In [38]:
x.describe()

,Present_Price,Kms_Driven,no_year,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,7.628472,36947.205980,8.372093,0.043189,0.199336,0.794020,0.352159,0.867110
std,8.644115,38886.883882,2.891554,0.247915,0.400166,0.405089,0.478439,0.340021
min,0.320000,500.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.200000,15000.000000,6.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,6.400000,32000.000000,8.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,9.900000,48767.000000,10.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,92.600000,500000.000000,19.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
y.describe()

count    301.000000
mean       4.661296
std        5.082812
min        0.100000
25%        0.900000
50%        3.600000
75%        6.000000
max       35.000000
Name: Selling_Price, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size=0.2)

In [48]:
from sklearn.tree import DecisionTreeRegressor

In [49]:
model = DecisionTreeRegressor() 
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [50]:
y_pred = model.predict(x_test)
y_pred

array([ 6.85,  0.4 ,  4.4 ,  7.75, 14.73,  5.3 ,  3.1 ,  0.4 ,  3.5 ,
        4.5 ,  3.  ,  0.9 ,  4.8 ,  6.7 ,  7.75, 14.25,  6.4 ,  4.  ,
        0.45,  1.65,  2.95,  4.9 ,  4.5 ,  9.15,  0.2 ,  0.75,  0.1 ,
        0.6 ,  0.45,  4.  ,  2.25,  5.95,  0.45,  8.35,  3.35,  1.2 ,
        5.25,  4.5 ,  0.2 ,  6.25,  7.25, 23.  ,  4.9 ,  4.4 ,  5.5 ,
       12.5 ,  0.2 ,  0.75,  5.  ,  6.4 ,  5.35,  3.1 ,  5.  , 23.  ,
        1.11,  1.11,  0.42,  2.95,  3.9 ,  2.85,  3.49])

In [42]:
y_test

223     8.25
150     0.50
226     5.25
296     9.50
52     18.00
       ...
137     0.65
227     2.55
26      4.15
106     1.35
92      3.51
Name: Selling_Price, Length: 61, dtype: float64

In [52]:
import pickle
file = open("file_customer.pkl", "wb") 
pickle.dump(model, file)

In [44]:
list(np.abs(y_pred-y_test))

[0.732500413549313,
 0.8813599955914242,
 0.9940528973087055,
 0.4928079320507983,
 3.5730660991846968,
 0.6285550463152347,
 0.2419958451581512,
 0.9972934494762662,
 0.8451755997938868,
 0.11435641045456801,
 0.4324146602154859,
 0.9009573007314706,
 0.19975429956602575,
 0.05929409688142595,
 0.8563716887143187,
 5.766081228484261,
 0.07207051833403266,
 0.5192554155759623,
 0.783291091961621,
 0.669592519279105,
 0.5886273387903378,
 1.4243340764052266,
 1.3224929098209177,
 3.229406867229949,
 2.0949471822127768,
 1.1495234446573697,
 1.2019472539536071,
 0.17000278132307878,
 0.47129919839344936,
 3.4976352249873446,
 0.3159464281090818,
 0.22982761995615508,
 0.12122572643724416,
 0.8142981624974395,
 0.5152602232934234,
 0.6551379048281638,
 1.0546585583941814,
 2.2378273011969565,
 2.8796176299975746,
 0.8362286802438952,
 0.03531348885815433,
 0.032498408597962936,
 1.1200246818171973,
 0.8965051886574638,
 1.163538530264896,
 3.051806096069795,
 0.16748020540942593,
 0.6309892650298552,
 0.15074519630590721,
 0.8523255550367033,
 0.5717725328081436,
 1.2722713877180145,
 0.04915568763106304,
 3.1312391289866923,
 0.5479962024566671,
 0.20291959427653294,
 0.3431792249964355,
 0.5667889702379116,
 0.7749620073395591,
 0.47098452486627496,
 0.01730876033619433]

In [45]:
from flask import Flask,render_template,request
import requests
import pickle
import numpy as np
import sklearn

from sklearn.preprocessing import StandardScaler
app = Flask(__name__)
model = pickle.load(open('file_customer.pkl','rb'))

@app.route('/',methods=['GET'])
def Home():
  return render_template('index.html')
@app.route('/form',methods=['GET'])
def form():
  return render_template('form.html')


@app.route('/predict',methods = ['POST'])
def predict():
    Fuel_Type_Diesel =0
    if request.method == 'POST':
        Year = int(request.form['Year'])
        current_Price = float(request.form['current_Price'])
        total_kms = int(request.form['total_kms'])
        Owner = int(request.form['Owner'])
        Fuel_Type_Petrol = request.form['Fuel_Type_Petrol']
        if(Fuel_Type_Petrol == 'Petrol'):
            Fuel_Type_Diesel = 0
            Fuel_Type_Petrol = 1

        elif(Fuel_Type_Diesel=='Diesel'):
            Fuel_Type_Petrol = 0
            Fuel_Type_Diesel = 1
        else:
            Fuel_Type_Petrol = 0
            Fuel_Type_Diesel = 0

        Year = 2020 - Year
        Seller_Type = request.form['Seller_Type']
        if(Seller_Type=='Individual'):
            Seller_Type =1
        else:
            Seller_Type = 0

        Transmission = request.form['Transmission']
        if(Transmission == 'Manual'):
            Transmission = 1
        else:
            Transmission = 0

        prediction = model.predict([[current_Price,total_kms,Owner,Year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type,Transmission]])
        output = round(prediction[0],2)

        if output<0:
            return render_template('form.html',prediction_text='Sorry! You cannot sell this car')
        else:
            return render_template('form.html', prediction_text='You can sell this car at Rs.{} lakhs'.format(output))

    else:
        return render_template('form.html')



if __name__ == '__main__':
    app.run(debug=True,port=8080)

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:8080 (Press CTRL+C to quit)
 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3445: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)